<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a href="" class="navbar-brand">Spring App</a>
	
	<div class="collapse navbar-collapse" id="nav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a href="" class="nav-link">Home</a>
			</li>
			<li class="nav-item active">
				<a href="" class="nav-link">About</a>
			</li>
		</ul>
	</div>
</nav>